@import "tailwindcss";

html {
  background: linear-gradient(to bottom right, #00011e, #000261);
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: -webkit-fill-available;
}

::-webkit-scrollbar {
  display: none;
}
/* Firefox */
html {
  scrollbar-width: none;
}
/* IE/old Edge */
html {
  -ms-overflow-style: none;
}

.h-screen {
  height: 100vh;
  height: 100dvh;
}

.sans-stock-notch {
  font-family: "Stack Sans Notch", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.eh {
  color: #b9bbff;
}

canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

button {
  cursor: pointer;
}

.bg-gradient {
  background: linear-gradient(to bottom right, #00011e, #000261);

  background-size: 200% 200%;
  background-position: 0% 0%;
}

.grid-lines {
  background-image:
    linear-gradient(rgba(131, 133, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(131, 133, 255, 0.3) 1px, transparent 1px);

  background-size:
    15px 15px,
    15px 15px;
}

.scrollAnimaEffect {
  width: calc(
    100dvw - 112px
  ) !important; /* 56px left + 56px right, matching mx-14 on both sides */
}

@media (max-width: 400px) {
  .margin-x-400 {
    margin-inline: 28px;
  }
  .margin-y-400 {
    margin-top: 48px;
  }

  .scrollAnimaEffect {
    width: calc(100dvw - 28 * 2px) !important;
  }

  .left-mq-400 {
    left: -28px;
  }
  .right-mq-400 {
    right: -28px;
  }
}

@media (max-height: 750px) {
  .y-gap-skills-750 {
    gap: 60px;
  }
}

@media (max-height: 700px) {
  .y-gap-skills-700 {
    gap: 50px;
  }
}

@media (min-width: 550px) {
  .mq-margin-x-550 {
    margin-inline: 8vw;
  }
  .scrollAnimaEffect {
    width: calc(100dvw - 8 * 2vw) !important;
  }
  .mq-nav-margin-x-550 {
    margin-inline: 6vw;
  }
  .mq--left-500 {
    left: -8vw;
  }
  .mq--right-500 {
    right: -8vw;
  }
}
