@import "tailwindcss";

html,
body {
  min-height: 100%;
  min-height: -webkit-fill-available;
}

/* Overrides the Tailwind h-screen utility to support dynamic mobile viewports */
.h-screen {
  height: 100vh;
  height: 100dvh;
}

.sans-stock-notch {
  font-family: "Stack Sans Notch", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.eh {
  color: #b9bbff;
}

canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

button {
  cursor: pointer;
}

.bg-gradient {
  background: linear-gradient(to bottom right, #00011e, #000261);

  background-size: 200% 200%;
  background-position: 0% 0%;
}

.grid-lines {
  background-image:
    linear-gradient(rgba(131, 133, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(131, 133, 255, 0.3) 1px, transparent 1px);

  background-size:
    15px 15px,
    15px 15px;
}

@media (max-width: 400px) {
  .margin-x-400 {
    margin-inline: 28px;
  }
  .margin-y-400 {
    margin-top: 48px;
  }

  .left-mq-400 {
    left: -28px;
  }
  .right-mq-400 {
    right: -28px;
  }
}

@media (max-height: 750px) {
  .y-gap-skills-750 {
    gap: 24px;
  }
}

@media (max-height: 700px) {
  .y-gap-skills-700 {
    gap: 16px;
  }
}
